@model string[]

<center>
    <div id="header">
        <h1><b>Random YT video!</b></h1>
        <h2>Explore the bottom of the internet</h2>
    </div>
    <div id="content">
        <div id="stats">
            <h3>Views: @Model[1]</h3>
            <h3>Subscribers: @Model[2]</h3>
            <h3>Published: @Model[3]</h3>
        </div>
        <div id="video" class="video">
            <iframe class="responsive-iframe"
                    width="640"
                    height="360"
                    src="@Model[0]"
                    frameborder="0"
                    style="border: solid 4px #37474f"></iframe>
        </div>
        <div id="button">
            <a href="https://google.com" class="button">Next video</a>
        </div>
    </div>
</center>